[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
newrelic = "*"
django = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
django-environ = "*"
django-configurations = "*"
django-filter = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with-social"]}
django-allauth = "*"
logutils = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django-model-utils = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-django = "*"
django-rest-assured = "*"
factory-boy = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
